<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= `${title}` %></title>
        <meta charset="UTF-8" />
        <meta name="author" content="<%= `${author}` %>" />
        <meta
            name="copyright"
            content="<%= `Copyright (c) ${copy_year} ${author}` %>"
        />
        <meta
            name="viewport"
            content="<%= `width=device-width, initial-scale=${device_scale_init}, maximum-scale=${device_scale_max}, user-scalable=${device_scale_user ? 'yes' : 'no'}` %>"
        />
        <meta
            name="mobile-web-app-capable"
            content="<%= `${mobile_web_app_capable ? 'yes' : 'no'}` %>"
        />
        <meta
            name="apple-mobile-web-app-capable"
            content="<%= `${mobile_web_app_capable ? 'yes' : 'no'}` %>"
        />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <script type="text/javascript" src="lib/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="lib/sha256.min.js"></script>
        <script type="text/javascript" src="lib/util.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <link rel="stylesheet" href="style.css" />
        <link rel="icon" href="img/gs_icon_128.png" />
        <link
            rel="apple-touch-icon"
            sizes="128x128"
            href="img/gs_app_128.png"
        />
    </head>
    <body style="background-color: #111">
        <!-- grip simulator -->
        <div
            id="loading"
            style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: table;
                text-align: center;
                opacity: 1;
                transition: opacity 0.1s ease;
            "
        >
            <div
                style="
                    display: table-cell;
                    vertical-align: middle;
                    margin: 0 auto;
                "
            >
                <img
                    src="img/gs_icon_200.png"
                    id="loadingimg"
                    style="
                        width: 45%;
                        max-width: 95px;
                        opacity: 1;
                        transition: opacity 0.5s ease;
                    "
                />
            </div>
        </div>
    </body>
</html>
